hr {
  opacity: 0.1;
}
body{
  background-color: #ddd;
  overflow-x: hidden;
}
#body{
  margin: 0 39.5px;
  background-color: #fff;
}
.pad {
  padding: 0 30px;
}
h3{
  font-weight: 650;
}
.navbar img {
  width: 100px;
  height: 30px;
  margin-left: 20px;
}
.footer ul li {
 list-style: none;
}
.footer ul li a {
  text-decoration: none;
  color: #000;
  font-size: small;
}
.footer ul li a:hover{
  text-decoration: underline;
  color: rgb(82, 82, 174);
  font-size: small;
}

.justify span {
  font-size: large;
  color: #000;
}
.justify p {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.1;
  margin: 20px 0;
  font-size: small;
}
.justify span a{
  text-decoration: none;
  color: #000;
  font-size: 1em;

}
.justify span a:hover{
  text-decoration: underline;
  color: blueviolet;
}
.justify{
  margin-top: 40px;
}
p{
  font-size: small;
}
h5{
  font-weight: 550;
}
.justify p a {
  font-size: small;
  text-decoration: none;
  color: #000;
  margin: 0 5px;
}
.justify p a:hover {
  font-size: small;
  text-decoration: underline;
  color: blueviolet;
  margin: 0 5px;
}
.justify h5{
  font-weight: 600;
}
.paragraph{
  margin-top: 10px;
}
.text-end{
  justify-content: end;
}
.store-images img{
  width: 100px;
  height: 30px;
  text-align: end;
  margin: 35px 0 35px 20px;
}
.social-icons span{
margin: 0 30px 0 0;
font-weight: 600;
}
.social-icons img {
  width: 32px;
  margin: 35px 0 35px 8px;
}
.links p a {
  text-decoration: none;
  color: #000;
  font-size: 1.0em;
  margin-left:5px ;
  text-align: left;
  text-justify: distribute-all-lines;
}
.links p a:hover{
  text-decoration: underline;
  color: blueviolet;
}
.brandslide {
  position: relative;
}
.brandslide img {
  width: 100%;
  box-shadow: 2px 2px 0 0 #ddd;
  border-radius: 15px;
}
#brandslide .swiper-button-prev{
  z-index: 2;
  position: absolute;
  top: 52%;
  background-color: #ddd;
  border-radius: 0 10px 10px 0;
  width: fit-content;
  padding: 5px 10px;
  font-size: 1.2em;
}
#brandslide .swiper-button-next{
  z-index: 2;
  top: 52%;
  right: 10px;
  background-color: #ddd;
  border-radius:  10px 0  0 10px;
  width: fit-content;
  padding: 5px 10px;
  font-size: 1.2em;
}
#RecentActivity .col {
  width: 31%;
  overflow: hidden; 
}
.RecentActivity{
  border-radius: 15px;
  border: 1px solid #ddd;
  margin: 10px 10px;
}
.RecentActivity img {
  width: 100%;
  height: 200px;
  transition: transform 1s ease;
}
.imgbox {
  overflow: hidden; 
  width: 100%;
}
.RecentActivity img:hover{
  transform: scale(1.1);
  overflow: hidden;
}
.RecentActivity h4,h5{
  padding: 15px 0;
}
#RecentActivity .col-6 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#RecentActivity .col-6 div{
  margin-left: 15px;
}
#RecentActivity .col-6 p {
  font-size: 0.7em;
}
#RecentActivity .row .fa-solid {
  color: greenyellow;
}
.RecentActivity .startbox{
  background-color: #ddd;
  height: max-content;
  padding-bottom: 9.8px;
  border-radius: 8px;
}
.RecentActivity .startbox img{
  padding: 15px 0;
  width: 100%;
  height: 150px;
}
.RecentActivity .startbox  .fa-solid{
  color: green;
  font-size: 1.2em;
}
.RecentActivity .startbox span .fa-regular{
  font-size: 1.2em;
  border: 1px solid #ddd;
  padding: 5px;
  background-color: #fff;
  margin: 0 7px;
}
.RecentActivity .startbox span .fa-regular:hover{
  color: #fff;
  background-color: green;

}
.RecentActivity .startbox a {
  text-decoration: none;
}

.serviceIcon00 .msgbox a{
 text-decoration: none;
 font-size: 1.2em;
}
.serviceIcon00 .iconbox {
  width: 7.5%;
  height: 130px;
  padding: 10px;
  margin: 35px 30px 0 0;
}
.serviceIcon00 .iconbox a {
  text-decoration: none;
  color: #000;
  font-weight: 640;
}
.serviceIcon00 .imgbox{
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 15px 10px;
  width: 100%;
  
}
.serviceIcon00 .imgbox img {
  width: 50px;
  height: 60px;
}
.serviceIcon{
  border: 1px solid #ddd;
  border-radius: 20px 20px 0 0;
}
.serviceIcon .msgbox a{
 text-decoration: none;
 font-size: 1.2em;
}
.serviceIcon .iconbox {
  width: 12.5%;
  height: 130px;
  padding: 10px;
}
.serviceIcon .iconbox a {
  text-decoration: none;
  color: #000;
  font-weight: 640;
}
.serviceIcon .imgbox{
  border: 1px solid #ddd;
  border-radius: 15px;
}
.serviceIcon1{
  border: 1px solid #ddd;
  border-radius: 0 0 20px 20px ;
}
.serviceIcon1 .msgbox a{
 text-decoration: none;
 font-size: 1.1em;
}
.serviceIcon1 .iconbox {
  width: 12.5%;
  height: 130px;
  padding: 10px;
}
.serviceIcon1 .iconbox a {
  text-decoration: none;
  color: #000;
  font-weight: 640;
}
.serviceIcon1 .imgbox{
  border: 1px solid #ddd;
  border-radius: 15px;
}
.galleryBox{
  width: 40%;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.galleryBox span{
  margin: 30px;
}
.firstCard {
  position: relative;
  color: #fff;
  height: 255px;
}
.firstCard img{
  border-radius: 15px;
  background-color: rgb(15, 125, 216);
  height: 255px;
}
.firstCard .topText{
 position: absolute;
 top: 20px;
 left: 25px;
}
.firstCard .topText span{
  color:  #ddd;
  line-height: 0;
}
.firstCard .topText h4{
  font-weight: 750;
}

.secondCard {
  position: relative;
  color: #fff;
  height: 255px;
}
.secondCard img{
  border-radius: 15px;
  background-color: rgb(15, 125, 216);
  height: 255px;
}
.secondCard .topText{
 position: absolute;
 top: 20px;
 left: 25px;
}
.secondCard .topText span{
  color:  #ddd;
}
.secondCard .topText h4{
  font-weight: 750;
}


.thirdCard {
  position: relative;
  color: #fff;
  height: 255px;
}
.thirdCard img{
  border-radius: 15px;
  background-color: rgb(15, 125, 216);
  height: 255px;
}
.thirdCard .topText{
 position: absolute;
 top: 20px;
 left: 25px;
}
.thirdCard .topText span{
  color:  #ddd;
}
.thirdCard .topText h4{
  font-weight: 750;
}


.fourthCard {
  position: relative;
  color: #fff;
  height: 255px;
}
.fourthCard img{
  border-radius: 15px;
  background-color: rgb(15, 125, 216);
  height: 255px;
}
.fourthCard .topText{
 position: absolute;
 top: 20px;
 left: 25px;
}
.fourthCard .topText span{
  color:  #ddd;
}
.fourthCard .topText h4{
  font-weight: 750;
}


.secondCard img{
  background-color:#1d355d;
  border-radius: 15px;
}
.thirdCard img{
  background-color:#484a9d;
  border-radius: 15px;
}
.fourthCard img{
  background-color:#1b8146;
  border-radius: 15px; 
}
.Carousel{
  height: 255px;
  border-radius: 15px;
}
.Carousel img{
  height: 255px;
  border-radius: 15px;
}
form {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}
.pseudo-search1 {
  display: inline;
  border: 2px solid #ccc;
  padding: 10px 15px;
  transition: background-color 0.5 ease-in-out;
  background-color: #ddd;
}
.pseudo-search1 input {
  border: 0;
  background-color: transparent;
  width: 100%;
}
.pseudo-search1 input:focus {
  outline: none;
}

.pseudo-search {
  display: inline;
  border: 2px solid #ccc;
  padding: 10px 15px;
  transition: background-color 0.5 ease-in-out;
}
  .pseudo-search input {
    border: 0;
    background-color: transparent;
    width: 260px;
  }
  .pseudo-search input:focus {
      outline: none;
    }
  
  
    .pseudo-search button, i {
    cursor: pointer;
    font-size: 1.4em;
  }
  .pseudo-search button{
    margin-top: -15px;
  }
  select {
    border: none;
  }

#searchPage h3{
  font-weight: 750;
}
#searchPage aside{
  color: blueviolet;
  margin-left: 10px;
}
#searchPage span{
  margin-left: 10px;
}

#searchPage h3 > span b {
  font-weight: 750;
}
#searchPage h3 > span {
  font-size:0px;
  opacity:0;
  margin-left:50px;
  text-align: right;
  /* position:relative; */
  font-weight:300;   
  /* box-shadow: 0px 60px 25px -20px rgba(0,0,0,0.5); */
}

#searchPage h3 > span:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}
#searchPage h3 > span:nth-child(2) {
  animation: roll 5s linear infinite 1s;
}
#searchPage h3 > span:nth-child(3) {
  animation: roll 5s linear infinite 2s;
}
#searchPage h3 > span:nth-child(4) {
  animation: roll2 5s linear infinite 3s;
}

@keyframes roll {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  20% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  27% {
    font-size:0px;
    opacity:0.5;
    margin-left:20px;
    margin-top:100px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

@keyframes roll2 {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  30% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  37% {
    font-size:1500px;
    opacity:0;
    margin-left:-1000px;
    margin-top:-800px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

@keyframes bg {
  0% {background: #ff0075;}
  3% {background: #0094ff;}
  20% {background: #0094ff;}
  23% {background: #b200ff;}
  40% {background: #b200ff;}
  43% {background: #8BC34A;}
  60% {background: #8BC34A;}
  63% {background: #F44336;}
  80% {background: #F44336;}
  83% {background: #F44336;}
  100% {background: #F44336;}
}